<div class="home-component">
    <div class="homepage-img-container">
        <img class="homepage-img" src="../../assets/images/map-background.jpg" alt="">
    </div>
    <div class="overlay"></div>
    <div class="padding-container">
        <div class="logo-container text-center">
            <img class="mb-2" src="../../assets/logos/logo-white.png">
            <p class="text-white mb-0"><span>OASIS</span><br />Healthcare Center</p>
        </div>
        <div class="text-center content-container">
            <p class="text-white fw-bold mb-0">Interactive map</p>
            <button class="btn text-white" routerLink="/map/building-plan"><span class="align-middle">Show map </span> <img src="../../assets/icons/w-arrow.png" alt=""></button>
        </div>
    </div>
</div>