<div class="home-component">
    <div class="homepage-img-container">
        <img class="homepage-img" src="../../assets/images/map-background.jpg" alt="">
    </div>
    <div class="overlay"></div>
    <div class="d-flex flex-column padding-container align-items-center justify-content-center">
        <div class="content-container text-center">
            <img class="mb-2" alt="Logo" src="../../assets/logos/logo-white.png">
            <p class="text-white mb-0"><span>OASIS</span><br />Healthcare Center</p>
            <h1 class="text-white fw-bold mb-0">Interactive map</h1>
            <button class="btn text-white" routerLink="/map/building-plan"><span class="align-middle">Show map</span>
                 <svg class="arrow-icon"></svg>
            </button>
        </div>
    </div>
</div>