<div>
    <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
    <div class="overlay" [ngClass]="{'overlay-visible' : dropdownMenuVisible}" (click)="dropdownMenuVisible=false"></div>
    <div class="d-flex flex-column side-bar-container" [ngClass]="{'side-bar-container-visible' : dropdownMenuVisible}">
        <div class="search-mode d-flex flex-row">
            <div class="d-flex flex-row mode-box" [ngClass]="{'active': mode=='rooms'}" (click)="changeMode('rooms')">
                <svg class="room-icon me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 13C8.66 13 10 11.66 10 10C10 8.34 8.66 7 7 7C5.34 7 4 8.34 4 10C4 11.66 5.34 13 7 13ZM19 7H13C11.9 7 11 7.9 11 9V14H3V6C3 5.45 2.55 5 2 5C1.45 5 1 5.45 1 6V19C1 19.55 1.45 20 2 20C2.55 20 3 19.55 3 19V17H21V19C21 19.55 21.45 20 22 20C22.55 20 23 19.55 23 19V11C23 8.79 21.21 7 19 7Z" attr.fill="{{mode=='rooms' ? '#ffffff' : '#a2a2a2'}}"/></svg>
                <span>Rooms</span>
            </div>
            <div class="d-flex flex-row mode-box" (click)="changeMode('equipment')" [ngClass]="{'active': mode=='equipment'}">
                <svg class="equipment-icon me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 16H11C10.45 16 10 15.55 10 15H3.01V19C3.01 20.1 3.91 21 5.01 21H19C20.1 21 21 20.1 21 19V15H14C14 15.55 13.55 16 13 16ZM20 7H16C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7H4C2.9 7 2 7.9 2 9V12C2 13.11 2.89 14 4 14H10V13C10 12.45 10.45 12 11 12H13C13.55 12 14 12.45 14 13V14H20C21.1 14 22 13.1 22 12V9C22 7.9 21.1 7 20 7ZM10 7C10 5.9 10.9 5 12 5C13.1 5 14 5.9 14 7H9.99H10Z" attr.fill="{{mode=='equipment' ? '#ffffff' : '#a2a2a2'}}"/></svg>
                <span>Equipment</span>
            </div>
        </div>
        <div class="search-container d-flex flex-row">
            <input (keyup.enter)="search()" class="form-control search-field" [(ngModel)]="searchInput" id="searchInput" >
            <div class="d-flex flex-row search-btn" (click)="search()">
                <span>Search</span>
            </div>
        </div>
        <div class="display-container d-flex flex-column">
            <div *ngIf="mode=='equipment'" routerLink="/equipment/transfer" class="d-flex secondary-btn active">
                <span>Make transfer</span>
            </div>
            <div *ngIf="mode=='rooms'" [routerLink]="selectedRoomId && selectedRoomId!=-1 ? ['/rooms/details/', selectedRoomId] : []" class="d-flex secondary-btn" [ngClass]="{'active': selectedRoomId && selectedRoomId!=-1}">
                <span>Room details</span>
            </div>
            <div *ngIf="isSearchActive"  class="d-flex flex-row justify-content-between display-title-wrapper">
                <span class="grey-text">Search results</span>
                <span (click)="removeFilter()" class="remove-filter align-self-end">Remove filter</span>
            </div>
            <app-scroll-box class="scroll-box-container" [mode]='mode' [isSearchActive]="isSearchActive" [searchFilter]='searchFilter' [selectedFloor]='selectedFloor'></app-scroll-box>
        </div>   
    </div>
</div>
