@import 'src/styles/main.scss';

.navbar-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    @include background-svg($navbar-menu);
    @include icon;

    @include media(">=desktop-medium"){
        display: none !important;
    }
}

.overlay{
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.5);
    transition: all 300ms ease-in;

    @include media(">=desktop-medium"){
        display: none !important;
    }
}

.overlay.overlay-visible{
    visibility: visible;
    opacity: 1;
}

.side-bar-container{
    position: fixed;
    height: 100vh;
    z-index: 1001;
    right: 0;
    top: 0;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: right;
    transition: all 0.2s ease-in-out;

    @include media(">=desktop-medium"){
        transform: scale(1, 1);
    }

    @include media("<phone-medium"){
        width: 80vw;
    }
}

.side-bar-container.side-bar-container-visible{
    transform: scale(1, 1);
}

    .mode-box{
        width: 100%;
        background-color: color(lightgrey);
        border-radius: 5px;
        margin-right: 10px;
        height: 34px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:last-child{
            margin-right: 0;
        }

        span{
            font-weight: bold;
            color: color(darkgrey);
        }
    }

    .mode-box.active{
        background-color: color(blue);

        span{
            color: white;
        }
    }

    .secondary-btn{
        width: 100%;
        background-color: color(lightgrey);
        border-radius: 5px;
        min-height: 34px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        margin-bottom: 10px;

        span{
            font-weight: bold;
            color: rgb(213, 213, 213),
        }

        @include media(">desktop-medium"){
            display: none !important;
        }
    }

    .secondary-btn.active{
        background-color: color(blue);

        span{
            color: white;
        }
    }


    .search-btn{
        background-color: color(lightgrey);
        border-radius: 5px;
        height: 34px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        span{
            font-weight: bold;
            color: color(darkgrey);
        }
    }


    .search-mode{
        padding: 20px 11px 0 15px;
        width: 100%;
        color: color(darkgrey)
    }

        .room-icon, .equipment-icon{
            margin-right: 5px;
            @include icon;
        }

    .search-container{
        padding: 0 11px 0 15px;
        height: 33px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 10px;
    }

        .search-field{
            @include background-svg($search-icon);
            background-repeat: no-repeat;
            background-position: 10px center;
            padding-left: 35px;
            margin-right: 10px;

            &:active{
                border: 1px solid color(darkgrey) !important;
            }

            &:focus{
                border: 1px solid color(darkgrey) !important;
            }
        }

    .display-container{
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 0 15px;
    }

        .display-title-wrapper{
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .remove-filter{
            cursor: pointer;
            color: color(darkgrey);
            font-size: 14px;
        }
    
    .button-wrapper{
        right: 32px;
        bottom: 10px;
        padding-right: 34px;
        padding-top: 10px;
        cursor: pointer;
    }

        .room-details-icon, .make-transfer-icon{
            margin-left: 5px;
        }

        