@import 'src/styles/main.scss';
@import 'src/styles/components/room-details.scss';

.back-to-map-btn{
    margin-top: 18px;
    margin-left: $grid-margin-width;
    padding: 0 !important;

    &:active{
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
}

    .back-icon{
        margin-right: 5px;
        @include icon;
        @include background-svg($back-icon);
    }

h2{
    margin: 0 !important;

    @include media("<tablet"){
        margin-bottom: 10px !important;
    }
}

    .name-status{
        @include media("<tablet"){
            flex-direction: column !important;
            align-items: flex-start !important;
        }
    }

    .grid-margin-width{
        margin: 0 $grid-margin-width;
    }

    .description{
        text-align: justify;
        @include media("<phone-large"){
            text-align: start;
        }
    }

.subhead{
    font-size: 1.25rem;
}

#room-name{
    font-size: 1.563rem;
}

.darkgray-text{
    color: color(darkgray);
}

.blue-text{
    color: color(blue);
}

.menu-icon{
    @include background-svg($menu-icon);
    @include icon;
}

#doctor-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.card{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;

    @include media("<tablet"){
        flex-direction: column !important;
    }
}

.qty{
    @include media("<tablet"){
        width: 100%;
        flex-direction: row !important;
        align-self: flex-start;
        justify-content: space-between !important;
        span{
            margin: 10px 5px 0 0;
        }
    }
}

.nothing-here-placeholder{
    width: 100%;
    height: 52vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 31, 35, 0.42);
}

.form-container{
    width: 28.714vw;
    height: 561px;
    background-color: white;
    border-radius: 5px;
}

.room-form {
    padding: 0 28px;
}

.navbar-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    @include background-svg($navbar-menu);
    @include icon;

    @include media(">=desktop-medium"){
        display: none !important;
    }
}

.overlay{
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.5);
    transition: all 300ms ease-in;
}

.overlay.overlay-visible{
    visibility: visible;
    opacity: 1;
}


.nav-items-menu{
    position: fixed;
    height: 100vh;
    z-index: 1001;
    padding: 80px 60px 0 60px;
    right: 0;
    top: 0;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: right;
    transition: all 0.2s ease-in-out;

    // @include media(">=desktop-medium"){
    //     transform: scale(1, 1);
    // }

    @include media("<phone-medium"){
        width: 80vw;
    }
}

.nav-items-menu.nav-items-menu-visible{
    transform: scale(1, 1);
}

    .close-icon{
        @include background-svg($close);
        @include icon;
        position: absolute;
        top: 76px;
        right: 40px;
        display: flex;
        align-self: end;
    }

    .menu-title{
        display: inline-block;
        margin-top: 76px;
        color: color(darkgray);

    }

        .nav-item-menu{
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: color(blue);
            font-weight: bold;
            cursor: pointer;
        }

        .edit-room-info-icon{
            @include background-svg($edit-room-info);
            @include icon;
        }

        .make-transfer-icon{
            @include background-svg($make-transfer);
            @include icon; 
        }

        .renovate-room-icon{
            @include background-svg($renovate-room);
            @include icon;
        }

        .room-schedule-icon{
            @include background-svg($room-schedule);
            @include icon;
        }

        .manage-doctor-icon{
            @include background-svg($manage-doctor);
            @include icon;
        }

        .doctor-workload-icon{
            @include background-svg($doctor-workload);
            @include icon;
        }