<div class="d-flex flex-column" *ngIf="room">
    <div>
        <button class="back-to-map-btn btn darkgray-text" routerLink="/map/floor-plan" [queryParams]="{buildingId: 1}">
            <svg class="back-icon"></svg>
            <span class="align-middle ms-1">Floor plan</span>
        </button>
    </div>
    <div class="d-flex flex-column grid-margin-width">
        <div class="d-flex mt-3 justify-content-between align-items-start">
            <div class="name-status d-flex align-items-center">
                <div id="room-name" class="fw-bold blue-text mb-1 me-3">
                    <h2 class="align-middle">{{ room.type | roomTypeToString }} {{ room.name }}</h2> 
                </div>
                <div class="d-flex flex-row align-items-center">
                    <svg class="dot me-1" height="15" width="15"><circle cx="7.5" cy="7.5" r="6" attr.fill="{{roomStatusColor()}}" /></svg>
                    <span class="status-text" [style.color]="roomStatusColor()">{{room.status | roomStatusToString}}</span>
                </div>
            </div>
            <svg class="menu-icon" (click)="toggleMenu()"></svg>
        </div>
        <div *ngIf="doctor" class="fw-bold darkgray-text subhead mb-3 mt-4"><img id="doctor-icon" src="../../../../assets/icons/doctor.jpg" alt="D"><span class="align-middle ms-2">{{doctor.name}} {{doctor.surname}}</span></div>
        <p class="darkgray-text description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi sapiente facilis fugit, reprehenderit tempora, soluta illum accusamus perferendis enim quae suscipit quia nihil culpa labore rem dolore dicta quam eaque.</p>
        <div class="d-flex flex-row justify-content-between mb-1">
            <h3 class="fw-bold blue-text subhead m-0 p-2 ps-0">Room equipment</h3>
        </div>    
    </div>

    <div class="grid-margin-width d-flex flex-column">
        <div *ngIf="room.equipment">
            <div class="d-flex flex-row card rounded justify-content-between p-3 mb-3" *ngFor="let e of room.equipment">
                <div class="d-flex flex-column">
                    <span class="blue-text">{{ e.equipmentItemName }}</span>
                    <span class="darkgray-text">{{ e.equipmentItemDescription }}</span>
                </div>
                <div class="qty d-flex flex-column justify-content-center darkgray-text">
                    <span>Qty</span>
                    <span class="align-self-end">{{ e.quantity }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nothing-here-placeholder" *ngIf="!room.equipment || room.equipment.length == 0">
        <span class="grey-text">There is no equipment in this room</span>
    </div>
</div>
<div *ngIf="room">
    <svg class="navbar-menu" (click)="toggleMenu()"></svg>
    <div class="overlay" [ngClass]="{'overlay-visible' : menuVisible}" (click)="menuVisible=false"></div>
    <div class="d-flex flex-column nav-items-menu" [ngClass]="{'nav-items-menu-visible' : menuVisible}">
        <div class="nav-item-menu" (click)="showRoomInfoForm(); toggleMenu()">
            <svg class="edit-room-info-icon me-2"></svg>
            <span>Edit room info</span>
        </div>
        <div class="nav-item-menu" routerLink="/equipment/transfer">
            <svg class="make-transfer-icon me-2"></svg>
            <span>Make transfer</span>
        </div>
        <div class="nav-item-menu" [routerLink]="['/rooms/renovation/', room.id]">
            <svg class="renovate-room-icon me-2"></svg>
            <span>Renovate room</span>
        </div>
        <div class="nav-item-menu" [routerLink]="['/rooms/schedule/', room.id]">
            <svg class="room-schedule-icon me-2"></svg>
            <span>Room schedule</span>
        </div>
        <div class="nav-item-menu" [routerLink]="doctor != null ? ['/management/doctors/', doctor.id] : []">
            <svg class="manage-doctor-icon me-2"></svg>
            <span>Manage doctor</span>
        </div>
        <div class="nav-item-menu" [routerLink]="doctor != null ? ['/management/doctors/workload/', doctor.id] : []">
            <svg class="doctor-workload-icon me-2"></svg>
            <span>Doctor workload</span>
        </div>
    </div>
</div>

