<div>
    
</div>
<svg id="svg-floor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
    <defs> <style> .cls-1 { fill: #776770; } .cls-6, .cls-8 { stroke: #d2d2d2; } .cls-11, .cls-13, .cls-16, .cls-17, .cls-19, .cls-6, .cls-8 { stroke-miterlimit: 10; } .cls-16, .cls-17, .cls-6{ stroke-width: 8px; } .cls-8 { fill: #e8e8e8; } .cls-8 { stroke-width: 4px; } .cls-9 { fill: #fff; stroke: none } .cls-10 { fill: #df8387; } .cls-11 { fill: none; stroke-width: 2px; } .cls-11, .cls-17, .cls-19 { stroke: #fff; } .cls-12 { fill: #595959; } .cls-13 { fill: #cecece; stroke: #383838; stroke-width: 0.75px; } .cls-17, .cls-19 { fill: #b2b2b2; } .cls-18 { fill: #282828; opacity: 0.95; } .cls-19 { stroke-width: 18px; } </style> </defs>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
            <rect class="cls-17" x="901.35" y="849.61" width="240.43" height="98.59" />
            <rect class="cls-18" width="1920" height="1080" />
            <polygon class="cls-19"
                points="1392.58 237.31 1392.58 849.61 650.55 849.61 650.55 899.77 422.23 899.77 422.23 187.14 650.55 187.14 650.55 237.31 1392.58 237.31" />
            <path class="cls-9" d="M1019.23,851s.23-35.77,35.77-35.77V851" />
            <path class="cls-9" d="M1018.77,851s-.23-35.77-35.77-35.77V851" />
        </g>
    </g>
</svg>