@import 'src/styles/main.scss';

.time-overview{
    height: 84vh;
}

    .search-container{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

        .custom-date-picker{
            border: 0px;
            height: 33px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
            margin-right: 20px;

            @include media("<tablet"){
                margin-right: 0px;
            }

            &:focus{
                border: none !important;
            }
        }

    h3{
        font-size: 20px;
        color: color(darkgrey);
        font-weight: bold;
        margin-top: 10px;
    }

    .remove-filter{
        cursor: pointer;
        color: color(darkgrey);
        font-size: 14px;

        @include media("<phone-medium"){
            display: none;
        }
    }


    .time-form{
        padding-left: 6px;

        @include media("<tablet"){
            flex-direction: column !important;
            width: 100%;
        }
    }

        .time-form > *{
            margin-bottom: 10px;
            width: 100%;
        }

        .form-group.hidden {
            width: 0 !important;
            height: 0;
            margin: 0;
            border: none;
            padding: 0;
        }

        .custom-day {
            text-align: center;
            padding: 0.185rem 0.25rem;
            display: inline-block;
            height: 2rem;
            width: 2rem;
        }

        .custom-day.focused {
            background-color: #e6e6e6;
        }

        .custom-day.range, .custom-day:hover {
            background-color: color(blue);
            color: white;
            border: 0px;
        }

        .custom-day.faded {
            background-color: rgba(54, 112, 176, 0.3);
        }

        .input-group{
            position: relative;
        }

            .calendar{
                position: absolute;
                @include icon;
                right: 26px;
                top: 6px;
                @include background-svg($calendar-icon);
                z-index: 100;

                @include media("<tablet"){
                    right: 6px;
                }
            }

        .duration{
            width: 136px;
            height: 33px;
            margin-right: 20px;
            position: relative;
            
            .duration-select{
                height: 33px;
                @include drop-down-list;

                &:focus{
                    border: 1px solid color(darkgrey) !important;
                }
            }
        }

        .search-button{
            width: 92px;
        }

    .schedule-transfer-button{
        position: fixed;
        z-index: 100;
        bottom: 20px;
        right: $grid-margin-width;
        width: 150px;

        @include media("<tablet"){
            width: calc(100% - 2* 2.875vw);
            right: 50%;
            transform: translate(50%, 0);
        }
    }

    .searched-elements{
        padding: 10px 10px 0 5px;
        width: 100%;
    }

        .card{
            background-color: white;
            width: 100%;
            padding: 30px 30px;
            @include card;

            span{
                text-align: center;
                color: color(blue);
            }

            @include media("<phone-medium"){
                flex-direction: column !important;
                padding: 10px 30px;
            }
        }

        .selected-card{
            background-color: color(blue);
            span{
                color: white;
            }
        }