@import "src/styles/main.scss";

.btn-primary{
    height: 33px;
    border: none;
    padding: 3px 12px;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s all ease-in;

    &:hover{
        filter: brightness(0.8);
    }
}

