<div class="vh-100 d-flex flex-column" id="floor-plan">
    <map-floor-plan-svg></map-floor-plan-svg>
    <div class="floor-and-button-wrapper">
        <div class="floor-wrapper d-flex flex-column align-items-center justify-content-center" *ngIf="floors">
            <div *ngFor="let floor of floors" id="{{'floor' + floor}}" (click)="selectedFloorChanged(floor)"
                class="floor-box" [ngClass]="{'floor-box-selected': selectedFloor == floor}">
                <span>{{floor | floor}}</span>
            </div>
            <hr>
            <div *ngIf="mode=='equipment'" routerLink="/equipment/transfer" class="d-flex flex-row mode-box secondary-btn active">
                <span>Make transfer</span>
            </div>
            <div *ngIf="mode=='rooms'" [routerLink]="selectedRoomId && selectedRoomId!=-1 ? ['/rooms/details/', selectedRoomId] : []" class="d-flex flex-row mode-box secondary-btn" [ngClass]="{'active': selectedRoomId && selectedRoomId!=-1}">
                <span>Room details</span>
            </div>
        </div>
    </div>
    <div class="select-floor" *ngIf="floors">
        <mat-form-field appearance="fill">
            <mat-label>Select floor</mat-label>
            <mat-select ([value])="selectedFloor">
                <mat-option value="floor" *ngFor="let floor of floors" (click)="selectedFloorChanged(floor)">{{floor | floor}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="back-to-map d-flex align-items-center" routerLink="/map/building-plan">
        <svg class="back-btn me-2"></svg>
        <span class="fw-bold white-text">Building plan</span>
    </div>
    <app-side-bar *ngIf="rooms" [selectedFloor]="selectedFloor" (modeChanged)="onModeChanged($event)"></app-side-bar>
</div>