@import 'src/styles/main.scss';

.card{
    width: 100%;
    padding: 10px 20px;
    @include card;
}

    .card-title{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .small-text{
        font-size: 14px;
    }