@import 'src/styles/main.scss';

#move-equipment{
    padding: 0 $grid-margin-width;
}

    .header-equipment-transfer{
        padding-top: 20px;
        padding-bottom: 20px;

        @include media("<phone-large"){
            flex-direction: column !important;
        }
    }

        .back-to-map{
            @include media("<tablet"){
                margin-bottom: 10px;
            }
        }

            .back-icon{
                margin-right: 5px;
                @include icon;
                @include background-svg($back-icon);
            }

            .back-to-map-btn{
                cursor: pointer;
            }

                .back-to-map-btn span{
                    color: color(darkgrey);
                }
    
    .functionalities-view{
        height: 100%;
    }